<div class="row">
    <% @user ||= current_user %>
    <div class="col-lg-6 stats">
        <a href="<%= following_user_path(@user) %>">
            <strong id="following" class="stat">
                <%= @user.following.count %>
            </strong>
        </a><br>
        following
    </div>
    <div class="col-lg-6 stats">
        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
                <%= @user.followers.count %>
            </strong>
        </a><br>
        followers
    </div>
</div>