<footer class="page-footer bg-dark border-top border-info text-white">
  <div class="footer-copyright text-center py-3">
    <%= image_tag '/images/logo.png', class:'logo' %>
    &copy; <%= link_to  "Hironao Uehara", root_path, class:'text-white' %>
  </div>
</footer>